// //.button-update,
// //.button-delete {
// //  margin: 0 20px;
// //  align-items: center;
// //  justify-content: center;
// //}

td button {
  margin: 0 5px;
}

.icon-action {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  font-size: var(--default-font-size);
}

.form-user input {
  caret-color: var(--primary);
}

.table-product-category th:first-child {
  width: 300px;
}

.table-product-category th:nth-child(2) {
  width: 250px;
}

.table-product-category th {
  font-size: var(--default-font-size)
}
