.form-user input {
  caret-color: var(--primary);
}

.table-product-category th:first-child {
  width: 300px;
}

.table-product-category th:nth-child(2) {
  width: 250px;
}

.table-product-category th {
  font-size: var(--default-font-size)
}
