<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Verify Mail</title>
</head>

<body>
    <h1>Your account has been successfully verified!</h1>
    <a href="/login">
        <button>
            Login for User
        </button>
    </a>
    <br><br>
    <a href="/admin/login">
        <button>
            Login for Admin
        </button>
    </a>
</body>
</html>\
