.form-supplier input {
  caret-color: var(--primary);
}

.table-product-category th:nth-child(1),
.table-product-category th:nth-child(3) {
  width: var(--default-width-table);
}

.table-supplier-category {
  background-color: antiquewhite;
  font-size: var(--default-font-size);

  & th {
    vertical-align: middle;
    align-items: center;
    text-align: center;
  }
}

.supplier-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

tr td:nth-of-type(2) {
  width: 125px;
  height: 60px;
}

// Add Supplier
.form-supplier {
  font-size: calc(var(--default-font-size) - 4px);
  font-weight: lighter;

  & div input {
    min-height: 50px !important;
  }
}