.wrapper {
  width: 100%;
  height: var(--default-layout-header-height, 60px);
  margin: 0 10px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  //align-items: center;
}

.wrapper div {
  display: flex;
  //justify-content: center;
  align-items: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  background-color: #ffffff;
}

.logoadmin {
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
}

.icon-bell, icon-logout {
  height: 20px;
  width: 20px;
}

