//.button-update,
//.button-delete {
//  margin: 0 20px;
//  align-items: center;
//  justify-content: center;
//}

// Add Movie

.form-movie {
  font-size: calc(var(--default-font-size) - 4px);
  font-weight: lighter;

  & div input {
    min-height: 50px !important;
  }
}

.modal-footer button {
  font-size: var(--default-font-size);
}

// Movie
.form-movie input {
  caret-color: var(--primary);
}

.supplier-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

tr td:nth-of-type(2) {
  width: 125px;
  height: 60px;
}

.table-movie-category {
  background-color: antiquewhite;
  font-size: var(--default-font-size);

  & th {
    vertical-align: middle;
    align-items: center;
    text-align: center;
  }

  & th:nth-of-type(1) {
    width: 40px;
  }
  & th:nth-of-type(3) {
    width: 104px;
  }
  & th:nth-of-type(4) {
    width: 160px;
  }
  & th:nth-of-type(5) {
     width: 240px;
   }
}

.movie-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}



