<% include('../layouts/header.ejs') %>

<h1>Dashboard</h1>

<a href="/admin/home">
    <button>
        Go to Home
    </button>
</a>
<br><br><br><br>



<a href="/admin/logout">
    <button>
        Logout
    </button>
</a>

<% include('../layouts/footer.ejs') %>
