.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  .clear-icon {
    cursor: pointer;
    position: absolute;
    bottom: -16px;
    left: 220px;
    transform: translateY(-45%);
    font-size: medium;
    color: rgba(22, 24, 35, 0.34);
  }
}

.search-icon {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  /* Adjust the vertical alignment of the icon */
  vertical-align: middle;

  position: relative;
  top: 10px;
}

.search-icon:hover {
  color: #0d6efd;
}

.search-icon-active {
  color: #0d6efd;
}

.search-input {
  position: absolute;
  top: 0;
  left: 40px; /* Adjust the position of the input based on your design */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px; /* Adjust the width of the input based on your design */
  transition: opacity 0.3s ease;
  opacity: 0; /* Hide the input by default */

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.search-icon-active + .search-input {
  opacity: 1;
}


//.search-container {
//  display: flex;
//  align-items: center;
//  margin-bottom: 20px;
//
//  //.search-title {
//  //  font-size: 18px;
//  //  margin-right: 10px;
//  //}
//
//  .search-input {
//    padding: 8px;
//    border: 1px solid #ccc;
//    border-radius: var(--default-border-radius);
//    font-size: 16px;
//
//    &:focus {
//      outline: none;
//      border-color: #007bff;
//      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//    }
//  }
//}


//.search-hover {
//  border: 1px solid #ccc;
//  outline: none;
//  background-size: 22px;
//  background-position: 13px;
//  border-radius: 10px;
//  width: 144px;
//  height: 50px;
//  padding: 25px;
//  transition: all 0.5s;
//  font-size: medium;
//}
//.search-hover:hover {
//  width: 300px;
//  padding-left: 50px;
//}