@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');

:root {
  //--primary: #ee4d2d;
  --primary: #321fdb;
  --black: #000;
  --text-color: #333;

  // Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 100%;

  // Default margin
  --default-margin-left: 20px;
  --default-margin-right: 20px;
  --default-margin-top: 20px;
  --default-margin-bottom: 20px;
  --default-margin: 20px;

  --default-font-size: 1.6rem;
  --default-font-size-button: 1.2rem;

  // Default padding
  --default-padding: 20px;

  // Default size table
  --default-width-table: 150px;

  // Sidebar
  --default-layout-sidebar-width: 220px;
  --default-layout-sidebar-width-close: 50px;
  --default-margin-close: 10px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--default-font-size);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow: scroll;

  ///* fallback for old browsers */
  //background: #6a11cb;
  //
  ///* Chrome 10-25, Safari 5.1-6 */
  //background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  //
  ///* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

tr th {
  color: blue;
}

tr td {
  vertical-align: middle;
  align-items: center;
}

td {
  font-size: var(--default-font-size)
}

td button {
  margin: 0 5px;
}

.icon-action {
  font-size: var(--default-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
}